@charset "UTF-8";

@font-face {
  font-family: argel;
  src: Billy Argel Font___.ttf;
}

body {
  font-family: argel !important;
}

header {
  background: linear-gradient(to bottom, rgba(5,5,5,0.6), rgba(9,9,9,0.1));
  padding: 5px;
  text-align: center;
  color: cadetblue;
}

h1 {
  padding: 10px;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline;
  font-weight: bold !important;
}

h2 {
  padding-left: 15px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 1px black;
}

.challenges {
  display: flex;
  margin-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  list-style-type: none;
}

.challenges li {  
  flex: 1 0 auto;
}

nav {
  background: linear-gradient(to top, rgba(5,5,5,0.6), rgba(9,9,9,0.1));
}

.challenges li .buttons [href]::after {
  content: '\21B4'
}

.buttons a {
  font-size: 30px;
  color: cadetblue;
  font-weight: bold;
  text-shadow: 2px 2px 2px black; 
}

.buttons a:hover {
  color: goldenrod;
}

.main, .main p {
  background-color: black;
  margin: 0px !important;
  font-weight: bold;
  text-shadow: 2px 2px 3px gray;
  font-size: 1.35em;
  color: cadetblue;
  padding-top: 5px;
  padding-bottom: 5px;
}

.resources {
  font-weight: bold;
  margin: 0px;
  padding: 15px 10px 10px 10px;
  text-shadow: 2px 2px 3px gray;
  font-size: 1.5em;
  color: cadetblue;
}

.resources h2 {
  text-decoration: underline;
  padding-top: 10px;
  font-weight: inherit;
  text-shadow: inherit;
}

.resource-container {
  background-color: black;
  display: flex;
  min-height: 100vh;
}

.resource-container .resources ul li img {
  height: 25px; 
  width: 30px; 
  border-radius: 45%;
}

section article ul {
  box-shadow: 8px 8px 8px teal;
  border-radius: 30px;
  border-top: 1px solid rgba(00,80,80,0.7);
  border-left: 1px solid rgba(00,80,80,0.7);
}

section article ul li {
  list-style-type: circle;
  color: rgba(00,80,80,0.7);
}

section article ul:last-child {
  padding-bottom: 15px  
}

section article dd {
  font-size: 0.6em;
  text-shadow: 1px 2px 1px #505050;
  padding-left: 25px;
}

section article ul li a[href^="http"] {
  color: teal;
}

section article ul li a[href^="http"]:hover {
  color: goldenrod;
  text-shadow: 3px 3px 4px white;
}

section article ul li a::after {
  content: '\21DD'
}

footer {
  background: linear-gradient(to top, rgba(5,5,5,0.6), rgba(9,9,9,0.1));
  color: black;
  text-align:center;
  margin-top: 0px;
  padding-bottom: 5px;
}
